version: "3.9"

services:
  analyzer:
    build: .
    container_name: cyber_analyzer
    ports:
      - "80:80"
    env_file:
      - .env
    volumes:
      - ./config.yaml:/app/config.yaml
    environment:
      - PYTHONUNBUFFERED=1
